# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/.vs/LTEToolkit/v14/.suo
/FourFivePortability/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LTEToolkitLibrary/bin/Debug
/LTEToolkitLibrary/obj/Debug
/LTEToolkitLibraryTestProject/bin/Debug
/LTEWebAppToolKit/bin/Debug
/LTEToolkitLibraryTestProject/obj/Debug
/LTEWebAppToolKit/obj/Debug
/LTEWPFToolkit/bin/Debug
/LTEWPFToolkit/obj/Debug
/SimplePaletteQuantizerModLTE/bin/Debug
/SimplePaletteQuantizerModLTE/obj/Debug
/FourFivePortability/bin/Debug
/FourFivePortability/obj/Debug
/.vs/LTEToolkit/v15
/Backup
/LTECodeSnippets/bin/Debug/CommonImpl
/LTECodeSnippets/bin/Debug/ComponentModel/propertychanging.snippet
/LTECodeSnippets/bin/Debug/ComponentModel/propinotify2.snippet
/LTECodeSnippets/bin/Debug/LICENSE.txt
/LTECodeSnippets/CommonImpl
